*{
    scroll-behavior: smooth;
    color: black;
}
.carousel-item img {
    display: block;
    margin: 0 auto;
    max-height: 500px;
    
}
.reservation-form {
    margin-top: 30px;
}
.navbar{
    background-color: transparent;
    backdrop-filter: blur(10px);    
}
.nav-link{
    color: black;
    font-weight: 800;
    transition: color 0.9s ease;
}
.nav-link:hover{
    color: brown;
}
.login-button{
    background-color: black ;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.9s ease;
}
.login-button:hover{
    background-color: white;
    color: black;
}
.navbar-brand{
    color: black;
    font-weight: 900;
}
.menu-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Hover effect to scale the card */
.menu-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Style for the menu item image */
.menu-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

  /* Basic styles for the contact section */
  .contact-section {
    background-color: #f5f5f5;
    padding: 40px 0;
    text-align: center;
}

/* Styles for contact information */
.contact-info {
    margin-bottom: 20px;
}

/* Style for the contact form */
.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Style for form input fields */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    height: 150px;
}

/* Style for the submit button */
.contact-form .btn-primary {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.contact-form .btn-primary:hover {
    background-color: #0056b3;
}
